<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NODE JS CRUD</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    </head>
    <body class="bg-info"> {{! Since this is Main Layout,child view HTML should be rendered inside body tag}}
        <div class="row">
            <div class="col-md-6 offset-md-3"
                style="background-color: #fff;margin-top: 25px; padding: 20px ;">
                {{{body}}} {{!In Handlebars, body is reserved variable, inside which we have HTML from child views}}
            </div>
        </div>
    </body>
</html>